/* 
    Document   : todo
    Created on : May 14, 2012, 10:33:04 AM
    Author     : isakov
    Description:
        Purpose of the stylesheet follows.
*/

.complete {
    color: #bbb;
    text-decoration: line-through;
}

.center {
    background-color: #b0e0e6;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.right {
    background-color: #bbbbbb;
    position:relative;
    float:right;    
}

.todo-item {
  padding: 8px 35px 8px 14px;  
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);  
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}